<!--Saved Articles Page-->

<div class="saved-container">

    <div class="col-xs-12 col-lg-12 jumbotron">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col-xs-12 col-lg-12">
        {{#each articles}}
            <br>
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4 id="article-title">{{this.title}}</h4>
                </div>
                <div class="panel-body">
                    <a id="article-link" href={{this.link}} target="_blank">{{this.link}}</a>
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-secondary addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                    <button type="button" class="btn btn-outline-danger delete" data-id={{this._id}}>Delete</button>
                    <br>
                    <br>
                </div>
            </div>
            <br>
        {{/each}} 
    </div>
</div>

<!--Clicked Notes Modal-->
